<div>
  <h1>{{ vm.name }}</h1>
  <div ng-repeat='(letter,line) in vm.mindStruct.lines'>
    <table>
      <tr>
        <td rowspan='2'>{{letter}}/{{line.class}}</td>
        <td ng-repeat='v in line.names'>
          {{$index}}/{{v}}
        </td>
      </tr>
      <tr>
        <td ng-repeat='v in line.names'>
          <md-checkbox ng-model='$parent.$parent.vm.station.station.acl[$parent.letter][$index].read'>Read</md-checkbox><br>
          <md-checkbox ng-model='$parent.$parent.vm.station.station.acl[$parent.letter][$index].write'>Write</md-checkbox><br>
        </td>
    </table>
  </div>
</div>
