<div>
  <div><h3>Description</h3>{{$root.station.description.operator}}</div><br>
  <div ng-repeat='m in vm.$rootScope.char.viewModel.memory'>
    <div ng-if='($index == 0 && $root.station.memory.first) || ($index == 1 && $root.station.memory.second) || ($index > 1 && $root.station.memory.other)'>
      <md-input-container>
      <label>Title</label>
      <input
        ng-model='$parent.vm.$rootScope.char.viewModel.memory[$index].title'
        ng-disabled='($index == 0 && $root.station.memory.first == 1) || ($index == 1 && $root.station.memory.second == 1) || ($index > 1 && $root.station.memory.other == 1)'>
      </md-input-container>
      <br>
      <md-input-container>
        <label>Text</label>
        <textarea
          ng-model='$parent.vm.$rootScope.char.viewModel.memory[$index].text'
          ng-disabled='($index == 0 && $root.station.memory.first == 1) || ($index == 1 && $root.station.memory.second == 1) || ($index > 1 && $root.station.memory.other == 1)'></textarea>
      </md-input-container>
      <br>
      <md-input-container>
        <label>URL*</label>
        <input
          ng-model='$parent.vm.$rootScope.char.viewModel.memory[$index].url'
          ng-disabled='($index == 0 && $root.station.memory.first == 1) || ($index == 1 && $root.station.memory.second == 1) || ($index > 1 && $root.station.memory.other == 1)'>
      </md-input-container>
      <hr>
    </div>
  </div>
  <div ng-if='$root.station.memory.other'>
    <md-button ng-click='vm.$rootScope.char.viewModel.memory.push({added: true})'>Add</md-button>
  </div>
  <md-button ng-click='vm.save()'>Save</md-button>
</div>
