<div>
  <h1>{{ vm.name }}</h1>
  <div ng-repeat='(l, v) in vm.$mindStruct.lines'>
    <div ng-repeat='i in $parent.vm.$mindStruct.lines[this.l].names'>
      <div ng-if='$root.char.mind[$parent.l][$index]>=0'>
        {{$parent.l + $index}}
        <md-input-container>
          <label>{{i}}</label>
          <input ng-model='$root.char.mind[$parent.l][$index]' ng-disabled='$root.station.acl[$parent.l][$index]<=1'>
        </md-input-container>
        <md-input-container>
          <input type='range' ng-model='$root.char.mind[$parent.l][$index]' ng-disabled='$root.station.acl[$parent.l][$index]<=1'>
        </md-input-container>
      </div>
    </div>
  </div>
  <md-button ng-click='vm.save()'>Save</md-button>
</div>
