<div>
  <div><h3>Description</h3>{{$root.station.description.operator}}</div><br>
  <div ng-repeat='(l, v) in vm.$mindStruct.lines'>
    <div ng-repeat='i in $parent.vm.$mindStruct.lines[this.l].names'>
      <div ng-if='$root.char.viewModel.mindBase[$parent.l][$index]>=0'>
        {{$parent.l + $index}}
        <md-input-container>
          <label ng-if='$rootScope.station.admin'>{{i}}</label>
          <input ng-model='$root.char.viewModel.mindBase[$parent.l][$index]' ng-disabled='$root.station.acl[$parent.l][$index]<=1'>
        </md-input-container>
        <md-input-container>
          <input type='range' ng-model='$root.char.viewModel.mindBase[$parent.l][$index]' ng-disabled='$root.station.acl[$parent.l][$index]<=1'>
        </md-input-container>
      </div>
    </div>
  </div>
  <md-button ng-click='vm.save()'>Save</md-button>
</div>
